<mat-toolbar color="primary" class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <a mat-button routerLink="#">
      <img src="https://placehold.co/100x40?text=HEB%20Logo" alt="HEB Logo">
    </a>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="favoritesMenu">Favorites</button>

    <mat-menu #favoritesMenu="matMenu">
      <button mat-menu-item>Action Item 1</button>
      <button mat-menu-item>Action Item 2</button>
      <button mat-menu-item>Action Item 3</button>
      <button mat-menu-item>Action Item 4</button>
      <button mat-menu-item>Action Item 5</button>
      <button mat-menu-item>Action Item 6</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="mainMenu">Main Menu</button>

    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item>Action</button>
      <button mat-menu-item>Another action</button>
    </mat-menu>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a mat-button routerLink="#">HEB Driver Pay</a></li>
        <li class="breadcrumb-item"><a mat-button routerLink="#">Driver Pay Summary</a></li>
      </ol>
    </nav>
  </div>

  <div class="d-flex align-items-center">
    <a mat-button routerLink="#">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="#">
      <mat-icon>logout</mat-icon> Sign Out
    </a>
  </div>
</mat-toolbar>

<app-driver-pay></app-driver-pay>
