.card-header {
  background-color: #e0e1e5;
  font-weight: bold;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6 !important;
}

.btn-expand {
  background-color: #ffc107;
  border: none;
  color: black;
}

.btn-expand:hover {
  background-color: #e0a800;
}
